#titulo {
  font: bold 30px Verdana, sans-serif;
  color: red;
}
#descripcion {
  font: bold 20px Verdana, sans-serif;
  color: green;
  width: 5%;
  height: 15%;
  overflow: hidden;
}
#tipoFuente {
  font: bold 20px Verdana, sans-serif;
  color: blue;
  width: 75%;
  height: 150px;
  overflow: scroll;
}
