header {
    margin: 30px;
    padding: 15px;
    text-align: center;
    border-width: 12px;
    border-style: solid;
    border-color: green;
}
#titulo {
    font: bold 30px Verdana, sans-serif;
    color: red;
}
#descripcion {
    font: bold 20px Verdana, sans-serif;
    color: green;
    text-align: right;
    width: 75%;
    height: 150px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
#tipoFuente {
    font: bold 20px Verdana, sans-serif;
    color: blue;
    width: 50%;
    height: 100px;
    overflow: scroll;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
#figura{
    text-align: center;
    border-width: 20px;
    border-style: solid;
    border-color: black;
}
      
    