p:nth-child(2) {
    font-size: 30px;
}
p:nth-child(1) {
    background-color: green;
    color: white;
    font-weight: bold;
}
p:nth-child(2) {
    background-color: #CCCCCC;
}
p:nth-child(3) {
    background-color: red;
}
p:nth-child(4) {
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 50px; 
}
p:last-child {
    font-size: 50px;
}

    
    