#cajapadre {
    display: flex;
    width: 600px;
    height: 200px;
    border: 1px solid;
    /*flex-direction: row-reverse;*/
    justify-content: center;
    align-items: center;
}

#cajapadre > div {
    height: 145px;
    margin: 5px;
    background-color: #CCCCCC;
}

#caja-1 {
    width: 200px;   
}
/*#caja-2 {
    flex: 2;
}
#caja-3 {
    flex: 3;
}*/
#caja-4 {
    width: 100px;
}
/*#caja-5 {
    flex: 1 1 200px;
}
#caja-6 {
    flex: 1 5 100px;
}
#caja-7 {
    flex: 1 5 auto;
}
#caja-8 {
    flex: 1 5 auto;
}
*/