#titulo {
    font: bold 30px Verdana, sans-serif;
    color: red;
}
#descripcion {
    font: bold 20px Verdana, sans-serif;
    color: green;
    width: 50%;
    height: 150px;
    overflow: hidden;
}
#tipoFuente {
    font: bold 20px Verdana, sans-serif;
    color: blue;
    width: 50%;
    height: 5%;
    overflow: scroll;
}
      
    