header {
    margin: 30px;
    padding: 45px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
#titulo {
    font: bold 30px Verdana, sans-serif;
    color: red;
}
#descripcion {
    font: bold 20px Verdana, sans-serif;
    color: green;
    width: 75%;
    height: 150px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
#tipoFuente {
    font: bold 20px Verdana, sans-serif;
    color: blue;
    width: 50%;
    height: 5%;
    overflow: scroll;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
#figura{
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
      
    